# Uvod v Pandas

## O Pandas-u

**Dimension & Description**



<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;">Data Structure</th>
<th style="text-align:center;">Dimensions</th>
<th style="text-align:center;">Description</th>
</tr>
<tr>
<td style="text-align:center;">Series</td>
<td style="text-align:center;">1</td>
<td style="text-align:center;">1D labeled homogeneous array, sizeimmutable.</td>
</tr>
<tr>
<td style="text-align:center;">Data Frames</td>
<td style="text-align:center;">2</td>
<td style="text-align:center;">General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed
columns.</td>
</tr>
<tr>
<td style="text-align:center;">Panel</td>
<td style="text-align:center;">3</td>
<td style="text-align:center;">General 3D labeled, size-mutable array.</td>
</tr>
</tbody></table>

## Importing pandas

In [23]:
import pandas as pd

Check the version:

In [24]:
pd.__version__

'0.24.2'

## Reminder about Built-In Documentation

For example, to display all the contents of the pandas namespace, you can type

In [25]:
pd.<TAB>

SyntaxError: invalid syntax (<ipython-input-25-40b879790c84>, line 1)

And to display Pandas's built-in documentation, you can use this:

In [26]:
pd.DataFrame.max?

More detailed documentation, along with tutorials and other resources, can be found at http://pandas.pydata.org/.

## Introducing Pandas Objects

In [27]:
import numpy as np
import pandas as pd

### The Pandas Series Object

In [28]:
#enodimenzijski array (kot list) podatkov. 
data = pd.Series([0.25,0.5,0.75,1.0])

In [29]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [30]:
type(data)

pandas.core.series.Series

In [31]:
#series ima dva atributa, ki nam omogočata, da dobimo vrednosti ali indekse. Vrednosti so tipa numpy.ndarray
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [32]:
type(data.values)

numpy.ndarray

In [33]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [34]:
type(data.index)

pandas.core.indexes.range.RangeIndex

In [35]:
data[1]

0.5

#### Series as generalized NumPy array

In [36]:
#lahko si sami naredimo poljubne indekse
data2 = pd.Series([0.25,0.5,0.75,1.0],
                 index = ['a','b','c','d'])

In [37]:
data2

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [38]:
data2['b']

0.5

In [39]:
data2[1]

0.5

#### Series as specialized dictionary

In [40]:
population_dict = {'California':383352256,
                  'Texas': 245557785,
                  'New York': 24578962,
                  'Florida': 45896621,
                  'Illinois': 74852556}

In [41]:
population_dict

{'California': 383352256,
 'Texas': 245557785,
 'New York': 24578962,
 'Florida': 45896621,
 'Illinois': 74852556}

In [55]:
population = pd.Series(population_dict)

In [56]:
population

California    383352256
Texas         245557785
New York       24578962
Florida        45896621
Illinois       74852556
dtype: int64

In [57]:
population('California')

TypeError: 'Series' object is not callable

In [58]:
population['California']

383352256

In [60]:
#V pandasu se meje rangea vključijo v izpis, za razliko od numpy. Naslednjič bomo videli zakaj
population['Texas':'Florida']

Texas       245557785
New York     24578962
Florida      45896621
dtype: int64

#### Constructing Series objects

`>>> pd.Series(data, index=index)`


[Dokumentacija](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html)

### The Pandas DataFrame Object

In [ ]:
#2d array, ki ima fleksibilna imena vrstic in stolpcev.

In [61]:
area_dict = {'California':1234455454,
                  'Texas': 423445432,
                  'New York': 43622111,
                  'Florida': 74574673,
                  'Illinois': 3254343}

In [62]:
area = pd.Series(area_dict)

In [63]:
area

California    1234455454
Texas          423445432
New York        43622111
Florida         74574673
Illinois         3254343
dtype: int64

In [64]:
population

California    383352256
Texas         245557785
New York       24578962
Florida        45896621
Illinois       74852556
dtype: int64

In [65]:
states = pd.DataFrame({'population': population, 'area': area})

In [66]:
states

            population        area
California   383352256  1234455454
Texas        245557785   423445432
New York      24578962    43622111
Florida       45896621    74574673
Illinois      74852556     3254343

In [67]:
type(states)

pandas.core.frame.DataFrame

In [68]:
#imena vrstic
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [70]:
#imena stolpcev
states.columns

Index(['population', 'area'], dtype='object')

#### DataFrame as specialized dictionary

In [71]:

states['area']

California    1234455454
Texas          423445432
New York        43622111
Florida         74574673
Illinois         3254343
Name: area, dtype: int64

#### Constructing DataFrame objects

- **From a single Series object**

In [73]:
#dataframe ima lahko tudi en sam stolpec
pd.DataFrame(population, columns=['population'])

            population
California   383352256
Texas        245557785
New York      24578962
Florida       45896621
Illinois      74852556

 - **From a dictionary of Series objects**
 - **From a two-dimensional NumPy array**

In [75]:
pd.DataFrame(np.random.rand(3,2), 
             columns = ['foo','bar'],
             index = ['a','b','c'])

        foo       bar
a  0.781638  0.146341
b  0.667294  0.695148
c  0.279618  0.408102

- **From a list of dicts**

In [76]:
pd.DataFrame([{'a':1,'b':2},
             {'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

[Dokumentacija](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

### The Pandas Index Object

In [ ]:
#poseben objekt. 
#Ni data struktura, ampak se nahaja v DataFrameih in Seriesih kot stolpec, ki nam omogoča označevanje podatkov

In [77]:
pd.Index([2,3,5,7,11])

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [78]:
ind = pd.Index([2,3,5,7,11])

#### Index as immutable array

In [79]:
#lahko ga gledamo kot na nek array, ki se ga ne da spreminjati

In [80]:
ind[1]

3

In [81]:
ind.size

5

In [82]:
ind.shape

(5,)

In [83]:
ind.ndim

1

In [84]:
ind.dtype

dtype('int64')

In [86]:
#ni možno spreminjati indeksa
ind[1] = 0

TypeError: Index does not support mutable operations

## Importing Data with Pandas

In [1]:
import pandas as pd
import numpy as np

In [3]:
f500 = pd.read_csv('data/DATA_fortune_500_2017.csv', index_col = 0)

In [4]:
f500.shape

(500, 22)

In [5]:
f500

,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Rank,,,,,,,,,,,,,,,,,,,,,
1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0
6,UnitedHealth Group,http://www.unitedhealthgroup.com,230000,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",9900 Bren Rd. E.,Minnetonka,MN,55343,...,Chief Executive Officer & Director,"9900 Bren Rd. E., Minnetonka, MN 55343",UNH,UnitedHealth Group Incorporated,184840,17.7,7017.0,20.7,122810,38274.0
7,CVS Health,http://www.cvshealth.com,204000,Health Care,Health Care: Pharmacy and Other Services,"Woonsocket, RI",1 CVS Dr.,Woonsocket,RI,2895,...,"President, Chief Executive Officer & Director","1 CVS Dr., Woonsocket, RI 02895",CVS,CVS Health Corporation,177526,15.8,5317.0,1.5,94462,36830.0
8,General Motors,http://www.gm.com,225000,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",300 Renaissance Center,Detroit,MI,48265,...,Chairman & Chief Executive Officer,"300 Renaissance Center, Detroit, MI 48265",GM,General Motors Company,166380,9.2,9427.0,-2.7,221690,43836.0
9,AT&T,http://www.att.com,268540,Telecommunications,Telecommunications,"Dallas, TX",208 S. Akard St.,Dallas,TX,75202,...,"Chairman, President & Chief Executive Officer","208 S. Akard St., Dallas, TX 75202",T,AT&T Inc.,163786,11.6,12976.0,-2.8,403821,123135.0
10,Ford Motor,http://www.ford.com,201000,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",1 American Rd.,Dearborn,MI,48126,...,"President, Chief Executive Officer & Director","1 American Rd., Dearborn, MI 48126",F,Ford Motor Company,151800,1.5,4596.0,-37.7,237951,29170.0
11,AmerisourceBergen,http://www.amerisourcebergen.com,18500,Wholesalers,Wholesalers: Health Care,"Chesterbrook, PA",1300 Morris Dr.,Chesterbrook,PA,19087,...,"Chairman, President & Chief Executive Officer","1300 Morris Dr., Chesterbrook, PA 19087",ABC,AmerisourceBergen Corp.,146850,8.0,1427.9,-37.7,33656,2129.0
12,Amazon.com,http://www.amazon.com,341400,Technology,Internet Services and Retailing,"Seattle, WA",410 Terry Ave. N.,Seattle,WA,98109,...,"Chairman, President & Chief Executive Officer","410 Terry Ave. N., Seattle, WA 98109",AMZN,"Amazon.com, Inc.",135987,27.1,2371.0,297.8,83402,19285.0
13,General Electric,http://www.ge.com,295000,Industrials,Industrial Machinery,"Boston, MA",41 Farnsworth St.,Boston,MA,2210,...,Chairman & Chief Executive Officer,"41 Farnsworth St., Boston, MA 02210",GE,General Electric Company,126661,-9.8,8831.0,297.8,365183,75828.0
14,Verizon,http://www.verizon.com,160900,Telecommunications,Telecommunications,"New York, NY",1095 Ave. of the Americas,New York,NY,10036,...,Chairman & Chief Executive Officer,"1095 Ave. of the Americas, New York, NY 10036",VZ,Verizon Communications Inc.,125980,-4.3,13127.0,-26.6,244180,22524.0
15,Cardinal Health,http://www.cardinalhealth.com,37300,Wholesalers,Wholesalers: Health Care,"Dublin, OH",7000 Cardinal Place,Dublin,OH,43017,...,Chairman & Chief Executive Officer,"7000 Cardinal Place, Dublin, OH 43017",CAH,"Cardinal Health, Inc.",121546,18.5,1427.0,17.4,34122,6554.0
16,Costco,http://www.costco.com,172000,Retailing,General Merchandisers,"Issaquah, WA",999 Lake Dr.,Issaquah,WA,98027,...,"President, Chief Executive Officer & Director","999 Lake Dr., Issaquah, WA 98027",COST,Costco Wholesale Corporation,118719,2.2,2350.0,-1.1,33163,12079.0
17,Walgreens Boots Alliance,http://www.walgreensbootsalliance.com,300000,Food & Drug Stores,Food and Drug Stores,"Deerfield, IL",108 Wilmot Rd.,Deerfield,IL,60015,...,"President, Chief Executive Officer & Director","108 Wilmot Rd., Deerfield, IL 60015",WBA,"Walgreens Boots Alliance, Inc",117351,13.4,4173.0,-1.1,72688,29880.0
18,Kroger,http://www.thekrogerco.com,443000,Food & Drug Stores,Food and Drug Stores,"Cincinnati, OH",1014 Vine St.,Cincinnati,OH,45202,...,Chairman & Chief Executive Officer,"1014 Vine St., Cincinnati, OH 45202",KR,The Kroger Company,115337,5.0,1975.0,-3.1,36505,6698.0
19,Chevron,http://www.chevron.com,55200,Energy,Petroleum Refining,"San Ramon, CA",6001 Bollinger Canyon Rd.,San Ramon,CA,94583,...,Chairman & Chief Executive Officer,"6001 Bollinger Canyon Rd., San Ramon, CA 94583",CVX,Chevron Corporation,107567,-18.0,-497.0,-110.8,260078,145556.0
20,Fannie Mae,http://www.fanniemae.com,7000,Financials,Diversified Financials,"Washington, DC",3900 Wisconsin Ave. N.W.,Washington,DC,20016,...,"President, Chief Executive Officer & Director","3900 Wisconsin Ave. N.W., Washington, DC 20016",FNMA,Fannie Mae,107162,-2.9,12313.0,12.4,3287968,6071.0
21,J.P. Morgan Chase,http://www.jpmorganchase.com,243355,Financials,Commercial Banks,"New York, NY",270 Park Ave.,New York,NY,10017,...,"Chairman, President & Chief Executive Officer","270 Park Ave., New York, NY 10017",JPM,JPMorgan Chase & Co.,105486,4.4,24733.0,1.2,2490972,254190.0
22,Express Scripts Holding,http://www.express-scripts.com,25600,Health Care,Health Care: Pharmacy and Other Services,"St. Louis, MO",1 Express Way,St. Louis,MO,63121,...,"President, Chief Executive Officer & Director","1 Express Way, St. Louis, MO 63121",ESRX,Express Scripts Holding Company,100288,-1.4,3404.4,37.5,51745,16236.0
23,Home Depot,http://www.homedepot.com,406000,Retailing,Specialty Retailers: Other,"Atlanta, GA",2455 Paces Ferry Rd.,Atlanta,GA,30339,...,"Chairman, President & Chief Executive Officer","2455 Paces Ferry Rd., Atlanta, GA 30339",HD,"The Home Depot, Inc.",94595,6.9,7957.0,13.5,42966,4333.0
24,Boeing,http://www.boeing.com,150540,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",100 N. Riverside Plaza,Chicago,IL,60606,...,"Chairman, President & Chief Executive Officer","100 N. Riverside Plaza, Chicago, IL 60606",BA,The Boeing Company,94571,-1.6,4895.0,-5.4,89997,817.0
25,Wells Fargo,http://www.wellsfargo.com,269100,Financials,Commercial Banks,"San Francisco, CA",420 Montgomery St.,San Francisco,CA,94163,...,"President, Chief Executive Officer & Director","420 Montgomery St., San Francisco, CA 94163",WFC,Wells Fargo & Company,94176,4.6,21938.0,-4.2,1930115,199581.0
26,Bank of America Corp.,http://www.bankofamerica.com,208024,Financials,Commercial Banks,"Charlotte, NC",100 N. Tryon St.,Charlotte,NC,28255,...,"Chairman, President & Chief Executive Officer","100 N. Tryon St., Charlotte, NC 28255",BAC,Bank of America Corporation,93662,0.7,17906.0,12.7,2187702,266840.0
27,Alphabet,http://www.abc.xyz,72053,Technology,Internet Services and Retailing,"Mountain View, CA",1600 Amphitheatre Pkwy.,Mountain View,CA,94043,...,Chief Executive Officer & Director,"1600 Amphitheatre Pkwy., Mountain View, CA 94043",GOOGL,Alphabet Inc.,90272,20.4,19478.0,19.1,167497,139036.0
28,Microsoft,http://www.microsoft.com,114000,Technology,Computer Software,"Redmond, WA",1 Microsoft Way,Redmond,WA,98052,...,Chief Executive Officer & Director,"1 Microsoft Way, Redmond, WA 98052",MSFT,Microsoft Corporation,85320,-8.8,16798.0,37.8,193694,71997.0
29,Anthem,http://www.antheminc.com,53000,Health Care,Health Care: Insurance and Managed Care,"Indianapolis, IN",120 Monument Circle,Indianapolis,IN,46204,...,"Chairman, President & Chief Executive Officer","120 Monument Circle, Indianapolis, IN 46204",ANTM,"Anthem, Inc.",84863,7.2,2469.8,-3.5,65083,25100.0
30,Citigroup,http://www.citigroup.com,219000,Financials,Commercial Banks,"New York, NY",388 Greenwich St.,New York,NY,10013,...,Chief Executive Officer & Director,"388 Greenwich St., New York, NY 10013",C,Citigroup Inc.,82386,-6.7,14912.0,-13.5,1792077,225120.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471,Fiserv,http://www.fiserv.com,23000,Business Services,Financial Data Services,"Brookfield, WI",255 Fiserv Dr.,Brookfield,WI,53045,...,"President, Chief Executive Officer & Director","255 Fiserv Dr., Brookfield, WI 53045",FISV,"Fiserv, Inc.",5505,4.8,930.0,30.6,9743,2541.0
472,Host Hotels & Resorts,http://www.hosthotels.com,220,Financials,Real Estate,"Bethesda, MD",6903 Rockledge Dr.,Bethesda,MD,20817,...,"President, Chief Executive Officer & Director","6903 Rockledge Dr., Bethesda, MD 20817",HST,"Host Hotels & Resorts, Inc.",5488,1.9,762.0,36.6,11408,6994.0
473,Insight Enterprises,http://www.insight.com,5930,Wholesalers,Wholesalers: Electronics and Office Equipment,"Tempe, AZ",6820 S. Harl Ave.,Tempe,AZ,85283,...,"President, Chief Executive Officer & Director","6820 S. Harl Ave., Tempe, AZ 85283",NSIT,"Insight Enterprises, Inc.",5486,2.1,84.7,11.7,2219,713.0
474,Mattel,http://www.mattel.com,32000,Household Products,"Toys, Sporting Goods","El Segundo, CA",333 Continental Blvd.,El Segundo,CA,90245,...,Chief Executive Officer & Director,"333 Continental Blvd., El Segundo, CA 90245",MAT,"Mattel, Inc.",5457,-4.3,318.0,-13.9,6494,2408.0
475,AmTrust Financial Services,http://www.amtrustgroup.com,8000,Financials,Insurance: Property and Casualty (Stock),"New York, NY",59 Maiden Lane,New York,NY,10038,...,"Chairman, President & Chief Executive Officer","59 Maiden Lane, New York, NY 10038",AFSI,"AmTrust Financial Services, Inc.",5451,18.1,411.0,-8.8,22615,3269.0
476,Cincinnati Financial,http://www.cinfin.com,4754,Financials,Insurance: Property and Casualty (Stock),"Fairfield, OH",6200 S. Gilmore Rd.,Fairfield,OH,45014,...,"President, Chief Executive Officer & Director","6200 S. Gilmore Rd., Fairfield, OH 45014",CINF,Cincinnati Financial Corporation,5449,6.0,590.7,-6.8,20386,7060.0
477,Simon Property Group,http://www.simon.com,4050,Financials,Real Estate,"Indianapolis, IN",225 W. Washington St.,Indianapolis,IN,46204,...,Chairman & Chief Executive Officer,"225 W. Washington St., Indianapolis, IN 46204",SPG,"Simon Property Group, Inc.",5435,3.2,1838.9,0.6,31104,4310.0
478,Western Union,http://www.westernunion.com,10700,Business Services,Financial Data Services,"Englewood, CO",12500 E. Belford Ave.,Englewood,CO,80112,...,"President, Chief Executive Officer & Director","12500 E. Belford Ave., Englewood, CO 80112",WU,The Western Union Company,5423,-1.1,253.2,-69.8,9420,902.0
479,KeyCorp,http://www.key.com,15700,Financials,Commercial Banks,"Cleveland, OH",127 Public Sq.,Cleveland,OH,44114,...,"Chairman, President & Chief Executive Officer","127 Public Sq., Cleveland, OH 44114",KEY,KeyCorp,5422,19.4,791.0,-13.6,136453,15240.0
480,Delek US Holdings,http://www.delekus.com,1326,Energy,Petroleum Refining,"Brentwood, TN",7102 Commerce Way,Brentwood,TN,37027,...,"Chairman, President & Chief Executive Officer","7102 Commerce Way, Brentwood, TN 37027",DK,"Delek US Holdings, Inc.",5414,-6.0,-153.7,-892.3,2985,992.0
481,Booz Allen Hamilton Holding,http://www.boozallen.com,22600,Technology,Information Technology Services,"McLean, VA",8283 Greensboro Dr.,McLean,VA,22102,...,"President, Chief Executive Officer & Director","8283 Greensboro Dr., McLean, VA 22102",BAH,Booz Allen Hamilton Holding Corp.,5406,2.5,294.1,26.5,3010,409.0
482,Chemours,http://www.chemours.com,7000,Chemicals,Chemicals,"Wilmington, DE",1007 Market St.,Wilmington,DE,19899,...,"President, Chief Executive Officer & Director","1007 Market St., Wilmington, DE 19899",CC,The Chemours Company,5400,2.5,7.0,26.5,6060,100.0
483,Western & Southern Financial Group,http://www.westernsouthern.com,2178,Financials,"Insurance: Life, Health (Mutual)","Cincinnati, OH",400 Broadway,Cincinnati,OH,45202,...,"Chairman, President & Chief Executive Officer","400 Broadway, Cincinnati, OH 45202",CC,Western & Southern Mutual Holding Company,5398,0.8,241.2,-47.2,43831,5104.0
484,Celanese,http://www.celanese.com,7293,Chemicals,Chemicals,"Irving, TX",222 W. Las Colinas Blvd.,Irving,TX,75039,...,"Chairman, President & Chief Executive Officer","222 W. Las Colinas Blvd., Irving, TX 75039",CE,Celanese Corporation,5389,-5.0,900.0,196.1,8357,2588.0
485,Windstream Holdings,http://www.windstream.com,11870,Telecommunications,Telecommunications,"Little Rock, AR",4001 Rodney Parham Rd.,Little Rock,AR,72212,...,"President, Chief Executive Officer & Director","4001 Rodney Parham Rd., Little Rock, AR 72212",WIN,"Windstream Holdings, Inc.",5387,-6.6,-383.5,"-1,499.60",11770,170.0
486,Seaboard,http://www.seaboardcorp.com,11781,"Food, Beverages & Tobacco",Food Production,"Merriam, KS",9000 W. 67th St.,Merriam,KS,66202,...,"Chairman, President & Chief Executive Officer","9000 W. 67th St., Merriam, KS 66202",SEB,Seaboard Corporation,5379,-3.8,312.0,82.5,4755,3162.0
487,Essendant,http://www.essendant.com,6600,Wholesalers,Wholesalers: Electronics and Office Equipment,"Deerfield, IL",1 Parkway N. Blvd.,Deerfield,IL,60015,...,"President, Chief Executive Officer & Director","1 Parkway N. Blvd., Deerfield, IL 60015",ESND,Essendant Inc.,5369,0.1,63.9,82.5,2164,781.0
488,Apache,http://www.apachecorp.com,3727,Energy,"Mining, Crude-Oil Production","Houston, TX",2000 Post Oak Blvd.,Houston,TX,77056,...,"President, Chief Executive Officer & Director","2000 Post Oak Blvd., Houston, TX 77056",APA,Apache Corporation,5354,-19.5,-1405.0,82.5,22519,6238.0
489,Airgas,http://www.airgas.com,17000,Wholesalers,Wholesalers: Diversified,"Radnor, PA",259 N. Radnor-Chester Rd.,Radnor,PA,19087,...,Chief Executive Officer & Director,"259 N. Radnor-Chester Rd., Radnor, PA 19087",APA,"Airgas, Inc.",5314,0.2,337.5,-8.3,6135,2045.0
490,Kelly Services,http://www.kellyservices.com,7500,Business Services,Temporary Help,"Troy, MI",999 W. Big Beaver Rd.,Troy,MI,48084,...,"President, Chief Executive Officer & Director","999 W. Big Beaver Rd., Troy, MI 48084",KELYA,"Kelly Services, Inc.",5277,-4.4,120.8,124.5,2028,1012.0
491,Liberty Media,http://www.libertymedia.com,3626,Media,Entertainment,"Englewood, CO",12300 Liberty Blvd.,Englewood,CO,80112,...,"President, Chief Executive Officer & Director","12300 Liberty Blvd., Englewood, CO 80112",LSXMA,Liberty Media Corporation,5276,10.0,680.0,962.5,31377,11756.0
492,Rockwell Collins,http://www.rockwellcollins.com,19000,Aerospace & Defense,Aerospace and Defense,"Cedar Rapids, IA",400 Collins Rd. N.E.,Cedar Rapids,IA,52498,...,"Chairman, President & Chief Executive Officer","400 Collins Rd. N.E., Cedar Rapids, IA 52498",COL,"Rockwell Collins, Inc.",5259,-0.1,728.0,6.1,7707,2078.0
493,Robert Half International,http://www.roberthalf.com,16400,Business Services,Temporary Help,"Menlo Park, CA",2884 Sand Hill Rd.,Menlo Park,CA,94025,...,Chairman & Chief Executive Officer,"2884 Sand Hill Rd., Menlo Park, CA 94025",RHI,Robert Half International Inc.,5250,3.1,343.4,-4,1778,1087.0
494,CH2M Hill,http://www.ch2m.com,20000,Engineering & Construction,"Engineering, Construction","Englewood, CO",9191 S. Jamaica St.,Englewood,CO,80112,...,"Chairman, President & Chief Executive Officer","9191 S. Jamaica St., Englewood, CO 80112",RHI,"CH2M HILL Companies, Ltd.",5236,-2.3,15.0,-81.3,2671,547.0
495,Big Lots,http://www.biglots.com,23150,Retailing,Specialty Retailers: Other,"Columbus, OH",300 Phillipi Rd.,Columbus,OH,43228,...,"President, Chief Executive Officer & Director","300 Phillipi Rd., Columbus, OH 43228",BIG,"Big Lots, Inc.",5200,0.2,152.8,7,1608,651.0
496,Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,75063,...,Chairman & Chief Executive Officer,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698.0
497,Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,19044,...,Chief Executive Officer & Director,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229.0
498,Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,94089,...,"President, Chief Executive Officer & Director","701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0
499,Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,75201,...,"President, Chief Executive Officer & Director","1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.,5164,4.0,-214.3,5.2,15167,6597.0
500,ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,10006,...,"President, Chief Executive Officer & Director","1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0

In [6]:
type(f500)

pandas.core.frame.DataFrame

##  Introducing DataFrames



<p><img alt="anatomy of a dataframe" src="https://s3.amazonaws.com/dq-content/291/df_anatomy.svg"></p>

In [9]:
# za vsak stolpec njegov tip podatka
#imamo samo 3 tipe. V object so vsi tipi, ki niso float ali pa int
# pri uvozu lahko načeloma tip določimo sami

f500.dtypes

Title           object
Website         object
Employees        int64
Sector          object
Industry        object
Hqlocation      object
Hqaddr          object
Hqcity          object
Hqstate         object
Hqzip            int64
Hqtel           object
Ceo             object
Ceo-title       object
Address         object
Ticker          object
Fullname        object
Revenues         int64
Revchange      float64
Profits        float64
Prftchange      object
Assets           int64
Totshequity    float64
dtype: object

In [10]:
#izpis prvih 5 vrstic
f500.head()

,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Rank,,,,,,,,,,,,,,,,,,,,,
1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0

In [12]:
#izpiše samo prvi dve vrstici
f500.head(2)

,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Rank,,,,,,,,,,,,,,,,,,,,,
1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0

In [14]:
#zadnjih 5 vrstic, uporablja se enako kot head()
f500.tail()

,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Rank,,,,,,,,,,,,,,,,,,,,,
496,Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,75063,...,Chairman & Chief Executive Officer,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698.0
497,Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,19044,...,Chief Executive Officer & Director,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229.0
498,Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,94089,...,"President, Chief Executive Officer & Director","701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0
499,Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,75201,...,"President, Chief Executive Officer & Director","1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.,5164,4.0,-214.3,5.2,15167,6597.0
500,ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,10006,...,"President, Chief Executive Officer & Director","1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0

In [18]:
#malo bolj podrobne informacije o dataframeu. Tega ne moremo shraniti v spremenljivko, ker je to samo izpis.
f500.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 1 to 500
Data columns (total 22 columns):
Title          500 non-null object
Website        500 non-null object
Employees      500 non-null int64
Sector         500 non-null object
Industry       500 non-null object
Hqlocation     500 non-null object
Hqaddr         500 non-null object
Hqcity         500 non-null object
Hqstate        500 non-null object
Hqzip          500 non-null int64
Hqtel          500 non-null object
Ceo            500 non-null object
Ceo-title      500 non-null object
Address        500 non-null object
Ticker         500 non-null object
Fullname       500 non-null object
Revenues       500 non-null int64
Revchange      500 non-null float64
Profits        500 non-null float64
Prftchange     500 non-null object
Assets         500 non-null int64
Totshequity    500 non-null float64
dtypes: float64(3), int64(4), object(15)
memory usage: 89.8+ KB

In [19]:
#kako izbiramo podatke iz dataframea. Temu rečemo indexing, to je izbiranje podatkov v dataframeu ali seriesu
#obstaja več načinov. 

#najprej kaj moramo paziti
data = pd.Series(['a','b','c'], index = [1,3,5])

In [20]:
data

1    a
3    b
5    c
dtype: object

In [22]:
#eksplicitno indeksiranje, ko dejansko vpišemo vrednost željenega indexa
data[1]

'a'

In [25]:
#čeprav smo dali več kot je zadnji index, izpiše kolikor ima vrednosti. 
#ker je to nepričakovano, imamo tudi boljše metode
data[1:5]

3    b
5    c
dtype: object

## Pandas Data Selection - indexing

### Selecting pandas data using “loc” (Selecting Columns From a DataFrame by Label)



<p><img alt="loc single column" src="https://s3.amazonaws.com/dq-content/291/loc_single.svg"></p>

In [28]:
#kako izberemo en stolpec iz dataframea
industries = f500.loc[:,"Industry"]

In [30]:
industries.head()

Rank
1                       General Merchandisers
2    Insurance: Property and Casualty (Stock)
3                 Computers, Office Equipment
4                          Petroleum Refining
5                    Wholesalers: Health Care
Name: Industry, dtype: object

In [32]:
#dobljeni podatkovni tip je Series
type(industries)

pandas.core.series.Series

In [34]:
more_columns = f500.loc[:,["Employees","Revenues","Assets"]]

In [36]:
more_columns.head()

      Employees  Revenues  Assets
Rank
1       2300000    485873  198825
2        367700    223604  620854
3        116000    215639  321686
4         72700    205004  330314
5         68000    192487   56563



<p><img alt="loc list of columns" src="https://s3.amazonaws.com/dq-content/291/loc_list.svg"></p>

In [41]:
#kako izbrati vse stolpce od Revenues do Profits. Pri tem so tudi stolpci v rangeu vključeni v izbor.
financial_data = f500.loc[:,"Revenues":"Profits"]

In [40]:
financial_data.head()

      Revenues  Revchange  Profits
Rank
1       485873        0.8  13643.0
2       223604        6.1  24074.0
3       215639       -7.7  45687.0
4       205004      -16.7   7840.0
5       192487        6.2   2258.0

In [45]:
#Single bracket - krajšnica
#Če bi radi izbrali en stolpec
#prej smo delali tako: industries = f500.loc[:,"Industry"]
#to je pa bracketing

industries = f500["Industry"]


<p><img alt="loc slice of columns" src="https://s3.amazonaws.com/dq-content/291/loc_slice.svg"></p>

In [44]:
industries.head()

Rank
1                       General Merchandisers
2    Insurance: Property and Casualty (Stock)
3                 Computers, Office Equipment
4                          Petroleum Refining
5                    Wholesalers: Health Care
Name: Industry, dtype: object

In [48]:
#naslednja krajšnjica ni najbolj priporočljiva, se pa pojavlja
#Imenuje se dot accessor
#Slabosti:
#1. Imena stolpcev lahko vsebujejo samo angleško abecedo, 
#2. Ne smejo vsebovati presledkov
#3. Nepregledno je, če nanizamo več metod zraven
industries = f500.Industry

In [47]:
industries.head()

Rank
1                       General Merchandisers
2    Insurance: Property and Casualty (Stock)
3                 Computers, Office Equipment
4                          Petroleum Refining
5                    Wholesalers: Health Care
Name: Industry, dtype: object


<p></p><center>
<table>
<thead>
<tr>
<th>Select by Label</th>
<th>Explicit Syntax</th>
<th>Common Shorthand</th>
<th>Other Shorthand</th>
</tr>
</thead>
<tbody>
<tr>
<td>Single column</td>
<td><code>df.loc[:,"col1"]</code></td>
<td><code>df["col1"]</code></td>
<td><code>df.col1</code></td>
</tr>
<tr>
<td>List of columns</td>
<td><code>df.loc[:,["col1", "col7"]]</code></td>
<td><code>df[["col1", "col7"]]</code></td>
<td></td>
</tr>
<tr>
<td>Slice of columns</td>
<td><code>df.loc[:,"col1":"col4"]</code></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
</center><p></p>

### Selecting Items from a Series by Label



<p><img alt="dataframe exploded" src="https://s3.amazonaws.com/dq-content/291/df_exploded.svg"></p>



<p><img alt="series vs dataframe: series" src="https://s3.amazonaws.com/dq-content/291/df_series_s.svg"></p>


<p><img alt="series vs dataframe: dataframe" src="https://s3.amazonaws.com/dq-content/291/df_series_df.svg"></p>



<center>
<table>
<thead>
<tr>
<th></th>
<th>Series</th>
<th>DataFrame</th>
</tr>
</thead>
<tbody>
<tr>
<th>Dimensions</th>
<td>One</td>
<td>Two</td>
</tr>
<tr>
<th>Has 'index' axis</th>
<td>Yes</td>
<td>Yes</td>
</tr>
<tr>
<th>Has 'columns' axis</th>
<td>No</td>
<td>Yes</td>
</tr>
<tr>
<th>Number of dtypes</th>
<td>One</td>
<td>Many (one per column)</td>
</tr>
</tbody>
</table>
</center>

In [49]:
s = pd.Series([4,7,-5,3], index = ['d', 'b', 'a', 'c'])

In [50]:
s

d    4
b    7
a   -5
c    3
dtype: int64

In [51]:
s['d']

4

In [53]:
#isti način, samo z metodo loc
s.loc['d']

4

In [54]:
#kako ekspplicitno izberemo nek index
s['d':'a']

d    4
b    7
a   -5
dtype: int64

In [56]:
s.loc['d':'a']

d    4
b    7
a   -5
dtype: int64

In [58]:
#izbiranje z listom elementov
s[['a','c']]

a   -5
c    3
dtype: int64

In [60]:
#na enak način z metodo loc
s.loc[['a','c']]

a   -5
c    3
dtype: int64

In [61]:
#kako preverimo, če index vsebuje vrednost
'a' in s

True

In [62]:
#kako izlistamo vse ključe
s.keys()

Index(['d', 'b', 'a', 'c'], dtype='object')

In [64]:
#kako izlistamo vse pare indeksov in vrednosti v Seriesu
list(s.items())

[('d', 4), ('b', 7), ('a', -5), ('c', 3)]

In [71]:
#iz f500 izberemo stolpec CEO in ga shranimo v spremenljivko CEO
CEO = f500['Ceo']

CEO.head()

Rank
1    C. Douglas McMillon
2      Warren E. Buffett
3        Timothy D. Cook
4        Darren W. Woods
5     John H. Hammergren
Name: Ceo, dtype: object

In [76]:
#izberemo samo drugega CEO-ja
walmart = CEO[2]
walmart

'Warren E. Buffett'

### Selecting Rows From a DataFrame by Label



<p><img alt="anatomy of a dataframe" src="https://s3.amazonaws.com/dq-content/291/df_anatomy_static.svg"></p>

In [79]:
#rajši bi imeli ime podjetja kot index dataframea
f500.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            491, 492, 493, 494, 495, 496, 497, 498, 499, 500],
           dtype='int64', name='Rank', length=500)

In [80]:
#zato moramo nastaviti index s pomočjo metode set_index()
f500.set_index('Title', inplace=True)

In [81]:
f500.head()

,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Title,,,,,,,,,,,,,,,,,,,,,
Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,479-273-4000,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,402-346-1400,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,408-996-1010,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,972-444-1000,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,415-983-8300,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0

In [82]:
#izbira ene vrstice
single_row = f500.loc['Walmart']

In [83]:
type(single_row)

pandas.core.series.Series

In [84]:
single_row

Website                               http://www.walmart.com
Employees                                            2300000
Sector                                             Retailing
Industry                               General Merchandisers
Hqlocation                                   Bentonville, AR
Hqaddr                                   702 S.W. Eighth St.
Hqcity                                           Bentonville
Hqstate                                                   AR
Hqzip                                                  72716
Hqtel                                           479-273-4000
Ceo                                      C. Douglas McMillon
Ceo-title      President, Chief Executive Officer & Director
Address           702 S.W. Eighth St., Bentonville, AR 72716
Ticker                                                   WMT
Fullname                               Wal-Mart Stores, Inc.
Revenues                                              485873
Revchange                                                0.8
Profits                                                13643
Prftchange                                              -7.2
Assets                                                198825
Totshequity                                            77798
Name: Walmart, dtype: object

In [85]:
list_rows = f500.loc[['Walmart','Berkshire Hathaway','Apple']]

In [86]:
type(list_rows)

pandas.core.frame.DataFrame

In [87]:
list_rows

,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Title,,,,,,,,,,,,,,,,,,,,,
Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,479-273-4000,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,402-346-1400,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,408-996-1010,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0

In [88]:
slice_rows = f500['Berkshire Hathaway':'Exxon Mobil']

In [89]:
slice_rows

,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Title,,,,,,,,,,,,,,,,,,,,,
Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,402-346-1400,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,408-996-1010,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,972-444-1000,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0

In [98]:
#prva tri podjetja in stolpci Sector pa Industry
#več načinov, izbiramo po berljivosti in kako nam je bolj všeč
f500.head()
vaja1 = f500.loc[['Walmart','Berkshire Hathaway','Apple'],['Sector','Industry']]
vaja1 = f500.loc[:,['Sector','Industry']].head(3)
vaja1 = f500['Walmart':'Apple'][['Sector','Industry']]

In [95]:
vaja1

                        Sector                                  Industry
Title
Walmart              Retailing                     General Merchandisers
Berkshire Hathaway  Financials  Insurance: Property and Casualty (Stock)
Apple               Technology               Computers, Office Equipment

In [103]:
#radi bi dobili vse vrstice od Walmart do Exxon Mobile, stolpci pa od Website do Industry
f500.head()
top5 = f500['Walmart':'Exxon Mobil'].loc[:,"Website":"Industry"]
top5

,Website,Employees,Sector,Industry
Title,,,,
Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers
Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock)
Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment"
Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining

In [105]:
#lahko tudi tako
top5 = f500.loc['Walmart':'Exxon Mobil',"Website":"Industry"]
top5

,Website,Employees,Sector,Industry
Title,,,,
Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers
Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock)
Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment"
Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining

**pandas.DataFrame.set_index**

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html?highlight=set_index#pandas.DataFrame.set_index

`DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)`

Set the DataFrame index (row labels) using one or more existing columns. By default yields a new object.

<table>
<colgroup><col class="field-name">
<col class="field-body">
</colgroup><tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><dl class="first docutils">
<dt><strong>keys</strong> <span class="classifier-delimiter">:</span> <span class="classifier">column label or list of column labels / arrays</span></dt>
<dd></dd>
</dl>
<p><strong>drop</strong> : boolean, default True</p>
<blockquote>
<div><p>Delete columns to be used as the new index</p>
</div></blockquote>
<p><strong>append</strong> : boolean, default False</p>
<blockquote>
<div><p>Whether to append columns to existing index</p>
</div></blockquote>
<p><strong>inplace</strong> : boolean, default False</p>
<blockquote>
<div><p>Modify the DataFrame in place (do not create a new object)</p>
</div></blockquote>
<p><strong>verify_integrity</strong> : boolean, default False</p>
<blockquote>
<div><p>Check the new index for duplicates. Otherwise defer the check until
necessary. Setting to False will improve the performance of this
method</p>
</div></blockquote>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>dataframe</strong> <span class="classifier-delimiter">:</span> <span class="classifier">DataFrame</span></dt>
<dd></dd>
</dl>
</td>
</tr>
</tbody>
</table>

### Selecting pandas data using “iloc”

In [107]:
#radi bi izbrali prvi dve vrstici in vse stolpce
top5.iloc[0:2,:]

,Website,Employees,Sector,Industry
Title,,,,
Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers
Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock)

In [108]:
top10 = f500.iloc[:10,:]

In [109]:
top10

,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Title,,,,,,,,,,,,,,,,,,,,,
Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,479-273-4000,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,402-346-1400,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,408-996-1010,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,972-444-1000,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,415-983-8300,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0
UnitedHealth Group,http://www.unitedhealthgroup.com,230000,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",9900 Bren Rd. E.,Minnetonka,MN,55343,952-936-1300,...,Chief Executive Officer & Director,"9900 Bren Rd. E., Minnetonka, MN 55343",UNH,UnitedHealth Group Incorporated,184840,17.7,7017.0,20.7,122810,38274.0
CVS Health,http://www.cvshealth.com,204000,Health Care,Health Care: Pharmacy and Other Services,"Woonsocket, RI",1 CVS Dr.,Woonsocket,RI,2895,401-765-1500,...,"President, Chief Executive Officer & Director","1 CVS Dr., Woonsocket, RI 02895",CVS,CVS Health Corporation,177526,15.8,5317.0,1.5,94462,36830.0
General Motors,http://www.gm.com,225000,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",300 Renaissance Center,Detroit,MI,48265,313-556-5000,...,Chairman & Chief Executive Officer,"300 Renaissance Center, Detroit, MI 48265",GM,General Motors Company,166380,9.2,9427.0,-2.7,221690,43836.0
AT&T,http://www.att.com,268540,Telecommunications,Telecommunications,"Dallas, TX",208 S. Akard St.,Dallas,TX,75202,210-821-4105,...,"Chairman, President & Chief Executive Officer","208 S. Akard St., Dallas, TX 75202",T,AT&T Inc.,163786,11.6,12976.0,-2.8,403821,123135.0
Ford Motor,http://www.ford.com,201000,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",1 American Rd.,Dearborn,MI,48126,313-322-3000,...,"President, Chief Executive Officer & Director","1 American Rd., Dearborn, MI 48126",F,Ford Motor Company,151800,1.5,4596.0,-37.7,237951,29170.0

In [112]:
#izberemo prvih 5 vrstic iz top10
top10.iloc[:5,:]

,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Title,,,,,,,,,,,,,,,,,,,,,
Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,479-273-4000,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,402-346-1400,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,408-996-1010,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,972-444-1000,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,415-983-8300,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0

In [113]:
#izberemo cel dataframe
top10.iloc[:,:]

,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Title,,,,,,,,,,,,,,,,,,,,,
Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,479-273-4000,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,402-346-1400,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,408-996-1010,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,972-444-1000,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,415-983-8300,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0
UnitedHealth Group,http://www.unitedhealthgroup.com,230000,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",9900 Bren Rd. E.,Minnetonka,MN,55343,952-936-1300,...,Chief Executive Officer & Director,"9900 Bren Rd. E., Minnetonka, MN 55343",UNH,UnitedHealth Group Incorporated,184840,17.7,7017.0,20.7,122810,38274.0
CVS Health,http://www.cvshealth.com,204000,Health Care,Health Care: Pharmacy and Other Services,"Woonsocket, RI",1 CVS Dr.,Woonsocket,RI,2895,401-765-1500,...,"President, Chief Executive Officer & Director","1 CVS Dr., Woonsocket, RI 02895",CVS,CVS Health Corporation,177526,15.8,5317.0,1.5,94462,36830.0
General Motors,http://www.gm.com,225000,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",300 Renaissance Center,Detroit,MI,48265,313-556-5000,...,Chairman & Chief Executive Officer,"300 Renaissance Center, Detroit, MI 48265",GM,General Motors Company,166380,9.2,9427.0,-2.7,221690,43836.0
AT&T,http://www.att.com,268540,Telecommunications,Telecommunications,"Dallas, TX",208 S. Akard St.,Dallas,TX,75202,210-821-4105,...,"Chairman, President & Chief Executive Officer","208 S. Akard St., Dallas, TX 75202",T,AT&T Inc.,163786,11.6,12976.0,-2.8,403821,123135.0
Ford Motor,http://www.ford.com,201000,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",1 American Rd.,Dearborn,MI,48126,313-322-3000,...,"President, Chief Executive Officer & Director","1 American Rd., Dearborn, MI 48126",F,Ford Motor Company,151800,1.5,4596.0,-37.7,237951,29170.0

In [120]:
#od 5. pozicije naprej stolpce in vrstice
top10.iloc[4:,4:]

,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,Ceo,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Title,,,,,,,,,,,,,,,,,
McKesson,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,415-983-8300,John H. Hammergren,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0
UnitedHealth Group,"Minnetonka, MN",9900 Bren Rd. E.,Minnetonka,MN,55343,952-936-1300,Stephen J. Hemsley,Chief Executive Officer & Director,"9900 Bren Rd. E., Minnetonka, MN 55343",UNH,UnitedHealth Group Incorporated,184840,17.7,7017.0,20.7,122810,38274.0
CVS Health,"Woonsocket, RI",1 CVS Dr.,Woonsocket,RI,2895,401-765-1500,Larry J. Merlo,"President, Chief Executive Officer & Director","1 CVS Dr., Woonsocket, RI 02895",CVS,CVS Health Corporation,177526,15.8,5317.0,1.5,94462,36830.0
General Motors,"Detroit, MI",300 Renaissance Center,Detroit,MI,48265,313-556-5000,Mary T. Barra,Chairman & Chief Executive Officer,"300 Renaissance Center, Detroit, MI 48265",GM,General Motors Company,166380,9.2,9427.0,-2.7,221690,43836.0
AT&T,"Dallas, TX",208 S. Akard St.,Dallas,TX,75202,210-821-4105,Randall L. Stephenson,"Chairman, President & Chief Executive Officer","208 S. Akard St., Dallas, TX 75202",T,AT&T Inc.,163786,11.6,12976.0,-2.8,403821,123135.0
Ford Motor,"Dearborn, MI",1 American Rd.,Dearborn,MI,48126,313-322-3000,James P. Hackett,"President, Chief Executive Officer & Director","1 American Rd., Dearborn, MI 48126",F,Ford Motor Company,151800,1.5,4596.0,-37.7,237951,29170.0

In [122]:
#vse vrstice, prvi stolpec
top10.iloc[:,0]

Title
Walmart                         http://www.walmart.com
Berkshire Hathaway    http://www.berkshirehathaway.com
Apple                             http://www.apple.com
Exxon Mobil                  http://www.exxonmobil.com
McKesson                       http://www.mckesson.com
UnitedHealth Group    http://www.unitedhealthgroup.com
CVS Health                    http://www.cvshealth.com
General Motors                       http://www.gm.com
AT&T                                http://www.att.com
Ford Motor                         http://www.ford.com
Name: Website, dtype: object

In [121]:
#deseta vrstica in vsi stolpci
top10.iloc[9,:]

Website                                  http://www.ford.com
Employees                                             201000
Sector                                Motor Vehicles & Parts
Industry                            Motor Vehicles and Parts
Hqlocation                                      Dearborn, MI
Hqaddr                                        1 American Rd.
Hqcity                                              Dearborn
Hqstate                                                   MI
Hqzip                                                  48126
Hqtel                                           313-322-3000
Ceo                                         James P. Hackett
Ceo-title      President, Chief Executive Officer & Director
Address                   1 American Rd., Dearborn, MI 48126
Ticker                                                     F
Fullname                                  Ford Motor Company
Revenues                                              151800
Revchange                                                1.5
Profits                                                 4596
Prftchange                                             -37.7
Assets                                                237951
Totshequity                                            29170
Name: Ford Motor, dtype: object

## Series and Dataframe Describe Methods

In [127]:
#statistika o našem Seriesu
#f500.info()
revs = f500['Revenues']
revs.describe()

count       500.000000
mean      24111.748000
std       38337.353337
min        5145.000000
25%        7245.000000
50%       11384.000000
75%       22605.250000
max      485873.000000
Name: Revenues, dtype: float64

In [129]:
#"chainanje" metod
f500['Assets'].describe()

count    5.000000e+02
mean     8.038934e+04
std      2.704257e+05
min      4.370000e+02
25%      8.436500e+03
50%      1.932450e+04
75%      4.812600e+04
max      3.287968e+06
Name: Assets, dtype: float64

In [131]:
#lahko tudi, če gre za stringe.
f500['Hqstate'].describe()

count     500
unique     37
top        NY
freq       54
Name: Hqstate, dtype: object

In [133]:
#če damo describe() na celem dataframeu, nam vrne statistiko samo za številske stolpce
f500.describe()

,Employees,Hqzip,Revenues,Revchange,Profits,Assets,Totshequity
count,5.000000e+02,500.000000,500.000000,500.00000,500.000000,5.000000e+02,500.0000
mean,5.635013e+04,46791.714000,24111.748000,3.75800,1779.479800,8.038934e+04,13640.1470
std,1.234520e+05,30160.384765,38337.353337,19.96748,3937.558721,2.704257e+05,30523.1538
min,8.300000e+01,1104.000000,5145.000000,-57.50000,-6177.000000,4.370000e+02,-12688.0000
25%,1.190000e+04,19099.000000,7245.000000,-3.82500,235.725000,8.436500e+03,1997.5000
50%,2.500000e+04,46244.500000,11384.000000,1.90000,683.600000,1.932450e+04,4981.0000
75%,5.682525e+04,75045.000000,22605.250000,7.32500,1770.775000,4.812600e+04,12467.7500
max,2.300000e+06,98188.000000,485873.000000,197.30000,45687.000000,3.287968e+06,283001.0000

In [135]:
#na ta način pa dobimo statistiko za vse
f500.describe(include = ['O'])

,Website,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqtel,Ceo,Ceo-title,Address,Ticker,Fullname,Prftchange
count,500,500,500,500,500,500,500,500,500,500,500,500,500,500
unique,499,21,73,246,491,239,37,499,496,12,494,468,500,377
top,http://www.abbott.com,Financials,Utilities: Gas and Electric,"New York, NY",345 Park Ave.,New York,NY,650-857-1501,Miles D. White,"President, Chief Executive Officer & Director","601 Riverside Ave., Jacksonville, FL 32204",NFLX,Arthur J. Gallagher & Co.,5.2
freq,2,84,22,45,2,45,54,2,2,189,2,3,1,6

In [138]:
#statistika za profit 
f500['Profits'].describe()

count      500.000000
mean      1779.479800
std       3937.558721
min      -6177.000000
25%        235.725000
50%        683.600000
75%       1770.775000
max      45687.000000
Name: Profits, dtype: float64

In [141]:
f500[['Revenues','Employees']].describe()

            Revenues     Employees
count     500.000000  5.000000e+02
mean    24111.748000  5.635013e+04
std     38337.353337  1.234520e+05
min      5145.000000  8.300000e+01
25%      7245.000000  1.190000e+04
50%     11384.000000  2.500000e+04
75%     22605.250000  5.682525e+04
max    485873.000000  2.300000e+06

In [144]:
#izračuna prav vse statistike, kjer ni mogoče pa vpiše 'NaN'
f500.describe(include = 'all')

,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
count,500,5.000000e+02,500,500,500,500,500,500,500.000000,500,...,500,500,500,500,500.000000,500.00000,500.000000,500,5.000000e+02,500.0000
unique,499,NaN,21,73,246,491,239,37,NaN,499,...,12,494,468,500,NaN,NaN,NaN,377,NaN,NaN
top,http://www.abbott.com,NaN,Financials,Utilities: Gas and Electric,"New York, NY",345 Park Ave.,New York,NY,NaN,650-857-1501,...,"President, Chief Executive Officer & Director","601 Riverside Ave., Jacksonville, FL 32204",NFLX,Arthur J. Gallagher & Co.,NaN,NaN,NaN,5.2,NaN,NaN
freq,2,NaN,84,22,45,2,45,54,NaN,2,...,189,2,3,1,NaN,NaN,NaN,6,NaN,NaN
mean,NaN,5.635013e+04,NaN,NaN,NaN,NaN,NaN,NaN,46791.714000,NaN,...,NaN,NaN,NaN,NaN,24111.748000,3.75800,1779.479800,NaN,8.038934e+04,13640.1470
std,NaN,1.234520e+05,NaN,NaN,NaN,NaN,NaN,NaN,30160.384765,NaN,...,NaN,NaN,NaN,NaN,38337.353337,19.96748,3937.558721,NaN,2.704257e+05,30523.1538
min,NaN,8.300000e+01,NaN,NaN,NaN,NaN,NaN,NaN,1104.000000,NaN,...,NaN,NaN,NaN,NaN,5145.000000,-57.50000,-6177.000000,NaN,4.370000e+02,-12688.0000
25%,NaN,1.190000e+04,NaN,NaN,NaN,NaN,NaN,NaN,19099.000000,NaN,...,NaN,NaN,NaN,NaN,7245.000000,-3.82500,235.725000,NaN,8.436500e+03,1997.5000
50%,NaN,2.500000e+04,NaN,NaN,NaN,NaN,NaN,NaN,46244.500000,NaN,...,NaN,NaN,NaN,NaN,11384.000000,1.90000,683.600000,NaN,1.932450e+04,4981.0000
75%,NaN,5.682525e+04,NaN,NaN,NaN,NaN,NaN,NaN,75045.000000,NaN,...,NaN,NaN,NaN,NaN,22605.250000,7.32500,1770.775000,NaN,4.812600e+04,12467.7500
max,NaN,2.300000e+06,NaN,NaN,NaN,NaN,NaN,NaN,98188.000000,NaN,...,NaN,NaN,NaN,NaN,485873.000000,197.30000,45687.000000,NaN,3.287968e+06,283001.0000

### More Data Exploration Methods

In [145]:
my_series = pd.Series([1,2,3,4,5])

In [146]:
my_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [147]:
#radi bi prišteli 10 tem elementom. Je isto kot v numpyju
my_series = my_series + 10

In [148]:
my_series

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [149]:
my_series.max()

15

In [150]:
my_series.min()

11

In [151]:
my_series.sum()

65

<p><img alt="dataframe axis parameters" src="https://s3.amazonaws.com/dq-content/291/axis_param.svg"></p>

In [152]:
df = pd.DataFrame({'A':[1,1,2,1,2,3,3,3,3,3]})

In [153]:
df

   A
0  1
1  1
2  2
3  1
4  2
5  3
6  3
7  3
8  3
9  3

In [156]:
df.sum(axis = 0)

A    22
dtype: int64

In [158]:
#mediana za stolpca Revenues in Profit
f500[['Revenues','Profits']].median()

Revenues    11384.0
Profits       683.6
dtype: float64

In [159]:
#pokategorizira vse objekte v tem stolpcu in jih sešteje ter razvrsti po velikosti
f500['Sector'].value_counts()

Financials                       84
Energy                           57
Retailing                        47
Technology                       43
Health Care                      38
Wholesalers                      29
Food, Beverages & Tobacco        24
Business Services                20
Industrials                      19
Materials                        19
Transportation                   17
Chemicals                        14
Engineering & Construction       13
Aerospace & Defense              12
Household Products               12
Media                            11
Telecommunications               10
Hotels, Restaurants & Leisure    10
Motor Vehicles & Parts            9
Food & Drug Stores                7
Apparel                           5
Name: Sector, dtype: int64

In [161]:
#za Hqstate prvih 10 vrednosti po values_count
f500['Hqstate'].value_counts().head(10)

NY    54
CA    53
TX    50
IL    36
OH    25
VA    23
PA    21
NJ    21
MN    18
CT    18
Name: Hqstate, dtype: int64

In [163]:
#vsak numerični stolpec max vrednost s pomočjo parametra v metodi max
f500.max(numeric_only = True)

Employees      2300000.0
Hqzip            98188.0
Revenues        485873.0
Revchange          197.3
Profits          45687.0
Assets         3287968.0
Totshequity     283001.0
dtype: float64

###  Assignment with pandas

In [164]:
my_array = np.array([1,2,3,4,5])

In [165]:
my_array

array([1, 2, 3, 4, 5])

In [166]:
my_array[1] = 99

In [168]:
my_array

array([ 1, 99,  3,  4,  5])

In [169]:
#isto je v pandasu
top5_rank = f500[['Profits','Revenues']].head()

In [170]:
top5_rank

                    Profits  Revenues
Title
Walmart             13643.0    485873
Berkshire Hathaway  24074.0    223604
Apple               45687.0    215639
Exxon Mobil          7840.0    205004
McKesson             2258.0    192487

In [171]:
#vse vrednosti v Revenues bi dali na 0
top5_rank['Revenues'] = 0

In [172]:
top5_rank

                    Profits  Revenues
Title
Walmart             13643.0         0
Berkshire Hathaway  24074.0         0
Apple               45687.0         0
Exxon Mobil          7840.0         0
McKesson             2258.0         0

In [173]:
f500['Revenues'].head()

Title
Walmart               485873
Berkshire Hathaway    223604
Apple                 215639
Exxon Mobil           205004
McKesson              192487
Name: Revenues, dtype: int64

In [177]:
#samo Appleu spremenimo Revenues na 999
top5_rank.loc['Apple','Revenues'] = 999

In [178]:
top5_rank

                    Profits  Revenues
Title
Walmart             13643.0         0
Berkshire Hathaway  24074.0         0
Apple               45687.0       999
Exxon Mobil          7840.0         0
McKesson             2258.0         0

In [179]:
#dodali bi stolpec Year z vrednostmi 0
top5_rank['Year'] = 0

In [180]:
top5_rank

                    Profits  Revenues  Year
Title
Walmart             13643.0         0     0
Berkshire Hathaway  24074.0         0     0
Apple               45687.0       999     0
Exxon Mobil          7840.0         0     0
McKesson             2258.0         0     0

In [181]:
#enako deluje tudi za vrstice
top5_rank.loc['New Company'] = 555

In [182]:
top5_rank

                    Profits  Revenues  Year
Title
Walmart             13643.0         0     0
Berkshire Hathaway  24074.0         0     0
Apple               45687.0       999     0
Exxon Mobil          7840.0         0     0
McKesson             2258.0         0     0
New Company           555.0       555   555

In [185]:
#dodali smo nov stolpec na osnovi vrednosti obstoječega stolpca
f500['rev_bil'] = f500['Revenues']/1000

In [184]:
f500

,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,...,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity,rev_bil
Title,,,,,,,,,,,,,,,,,,,,,
Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,479-273-4000,...,"702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0,485.873
Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,402-346-1400,...,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0,223.604
Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,408-996-1010,...,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0,215.639
Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,972-444-1000,...,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0,205.004
McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,415-983-8300,...,"1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0,192.487
UnitedHealth Group,http://www.unitedhealthgroup.com,230000,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",9900 Bren Rd. E.,Minnetonka,MN,55343,952-936-1300,...,"9900 Bren Rd. E., Minnetonka, MN 55343",UNH,UnitedHealth Group Incorporated,184840,17.7,7017.0,20.7,122810,38274.0,184.840
CVS Health,http://www.cvshealth.com,204000,Health Care,Health Care: Pharmacy and Other Services,"Woonsocket, RI",1 CVS Dr.,Woonsocket,RI,2895,401-765-1500,...,"1 CVS Dr., Woonsocket, RI 02895",CVS,CVS Health Corporation,177526,15.8,5317.0,1.5,94462,36830.0,177.526
General Motors,http://www.gm.com,225000,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",300 Renaissance Center,Detroit,MI,48265,313-556-5000,...,"300 Renaissance Center, Detroit, MI 48265",GM,General Motors Company,166380,9.2,9427.0,-2.7,221690,43836.0,166.380
AT&T,http://www.att.com,268540,Telecommunications,Telecommunications,"Dallas, TX",208 S. Akard St.,Dallas,TX,75202,210-821-4105,...,"208 S. Akard St., Dallas, TX 75202",T,AT&T Inc.,163786,11.6,12976.0,-2.8,403821,123135.0,163.786
Ford Motor,http://www.ford.com,201000,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",1 American Rd.,Dearborn,MI,48126,313-322-3000,...,"1 American Rd., Dearborn, MI 48126",F,Ford Motor Company,151800,1.5,4596.0,-37.7,237951,29170.0,151.800
AmerisourceBergen,http://www.amerisourcebergen.com,18500,Wholesalers,Wholesalers: Health Care,"Chesterbrook, PA",1300 Morris Dr.,Chesterbrook,PA,19087,610-727-7000,...,"1300 Morris Dr., Chesterbrook, PA 19087",ABC,AmerisourceBergen Corp.,146850,8.0,1427.9,-37.7,33656,2129.0,146.850
Amazon.com,http://www.amazon.com,341400,Technology,Internet Services and Retailing,"Seattle, WA",410 Terry Ave. N.,Seattle,WA,98109,206-266-1000,...,"410 Terry Ave. N., Seattle, WA 98109",AMZN,"Amazon.com, Inc.",135987,27.1,2371.0,297.8,83402,19285.0,135.987
General Electric,http://www.ge.com,295000,Industrials,Industrial Machinery,"Boston, MA",41 Farnsworth St.,Boston,MA,2210,617-443-3000,...,"41 Farnsworth St., Boston, MA 02210",GE,General Electric Company,126661,-9.8,8831.0,297.8,365183,75828.0,126.661
Verizon,http://www.verizon.com,160900,Telecommunications,Telecommunications,"New York, NY",1095 Ave. of the Americas,New York,NY,10036,212-395-1000,...,"1095 Ave. of the Americas, New York, NY 10036",VZ,Verizon Communications Inc.,125980,-4.3,13127.0,-26.6,244180,22524.0,125.980
Cardinal Health,http://www.cardinalhealth.com,37300,Wholesalers,Wholesalers: Health Care,"Dublin, OH",7000 Cardinal Place,Dublin,OH,43017,614-757-5000,...,"7000 Cardinal Place, Dublin, OH 43017",CAH,"Cardinal Health, Inc.",121546,18.5,1427.0,17.4,34122,6554.0,121.546
Costco,http://www.costco.com,172000,Retailing,General Merchandisers,"Issaquah, WA",999 Lake Dr.,Issaquah,WA,98027,425-313-8100,...,"999 Lake Dr., Issaquah, WA 98027",COST,Costco Wholesale Corporation,118719,2.2,2350.0,-1.1,33163,12079.0,118.719
Walgreens Boots Alliance,http://www.walgreensbootsalliance.com,300000,Food & Drug Stores,Food and Drug Stores,"Deerfield, IL",108 Wilmot Rd.,Deerfield,IL,60015,847-315-2500,...,"108 Wilmot Rd., Deerfield, IL 60015",WBA,"Walgreens Boots Alliance, Inc",117351,13.4,4173.0,-1.1,72688,29880.0,117.351
Kroger,http://www.thekrogerco.com,443000,Food & Drug Stores,Food and Drug Stores,"Cincinnati, OH",1014 Vine St.,Cincinnati,OH,45202,513-762-4000,...,"1014 Vine St., Cincinnati, OH 45202",KR,The Kroger Company,115337,5.0,1975.0,-3.1,36505,6698.0,115.337
Chevron,http://www.chevron.com,55200,Energy,Petroleum Refining,"San Ramon, CA",6001 Bollinger Canyon Rd.,San Ramon,CA,94583,925-842-1000,...,"6001 Bollinger Canyon Rd., San Ramon, CA 94583",CVX,Chevron Corporation,107567,-18.0,-497.0,-110.8,260078,145556.0,107.567
Fannie Mae,http://www.fanniemae.com,7000,Financials,Diversified Financials,"Washington, DC",3900 Wisconsin Ave. N.W.,Washington,DC,20016,800-232-6643,...,"3900 Wisconsin Ave. N.W., Washington, DC 20016",FNMA,Fannie Mae,107162,-2.9,12313.0,12.4,3287968,6071.0,107.162
J.P. Morgan Chase,http://www.jpmorganchase.com,243355,Financials,Commercial Banks,"New York, NY",270 Park Ave.,New York,NY,10017,212-270-6000,...,"270 Park Ave., New York, NY 10017",JPM,JPMorgan Chase & Co.,105486,4.4,24733.0,1.2,2490972,254190.0,105.486
Express Scripts Holding,http://www.express-scripts.com,25600,Health Care,Health Care: Pharmacy and Other Services,"St. Louis, MO",1 Express Way,St. Louis,MO,63121,314-996-0900,...,"1 Express Way, St. Louis, MO 63121",ESRX,Express Scripts Holding Company,100288,-1.4,3404.4,37.5,51745,16236.0,100.288
Home Depot,http://www.homedepot.com,406000,Retailing,Specialty Retailers: Other,"Atlanta, GA",2455 Paces Ferry Rd.,Atlanta,GA,30339,770-433-8211,...,"2455 Paces Ferry Rd., Atlanta, GA 30339",HD,"The Home Depot, Inc.",94595,6.9,7957.0,13.5,42966,4333.0,94.595
Boeing,http://www.boeing.com,150540,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",100 N. Riverside Plaza,Chicago,IL,60606,312-544-2000,...,"100 N. Riverside Plaza, Chicago, IL 60606",BA,The Boeing Company,94571,-1.6,4895.0,-5.4,89997,817.0,94.571
Wells Fargo,http://www.wellsfargo.com,269100,Financials,Commercial Banks,"San Francisco, CA",420 Montgomery St.,San Francisco,CA,94163,866-878-5865,...,"420 Montgomery St., San Francisco, CA 94163",WFC,Wells Fargo & Company,94176,4.6,21938.0,-4.2,1930115,199581.0,94.176
Bank of America Corp.,http://www.bankofamerica.com,208024,Financials,Commercial Banks,"Charlotte, NC",100 N. Tryon St.,Charlotte,NC,28255,704-386-5681,...,"100 N. Tryon St., Charlotte, NC 28255",BAC,Bank of America Corporation,93662,0.7,17906.0,12.7,2187702,266840.0,93.662
Alphabet,http://www.abc.xyz,72053,Technology,Internet Services and Retailing,"Mountain View, CA",1600 Amphitheatre Pkwy.,Mountain View,CA,94043,650-253-0000,...,"1600 Amphitheatre Pkwy., Mountain View, CA 94043",GOOGL,Alphabet Inc.,90272,20.4,19478.0,19.1,167497,139036.0,90.272
Microsoft,http://www.microsoft.com,114000,Technology,Computer Software,"Redmond, WA",1 Microsoft Way,Redmond,WA,98052,425-882-8080,...,"1 Microsoft Way, Redmond, WA 98052",MSFT,Microsoft Corporation,85320,-8.8,16798.0,37.8,193694,71997.0,85.320
Anthem,http://www.antheminc.com,53000,Health Care,Health Care: Insurance and Managed Care,"Indianapolis, IN",120 Monument Circle,Indianapolis,IN,46204,317-488-6000,...,"120 Monument Circle, Indianapolis, IN 46204",ANTM,"Anthem, Inc.",84863,7.2,2469.8,-3.5,65083,25100.0,84.863
Citigroup,http://www.citigroup.com,219000,Financials,Commercial Banks,"New York, NY",388 Greenwich St.,New York,NY,10013,212-559-1000,...,"388 Greenwich St., New York, NY 10013",C,Citigroup Inc.,82386,-6.7,14912.0,-13.5,1792077,225120.0,82.386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fiserv,http://www.fiserv.com,23000,Business Services,Financial Data Services,"Brookfield, WI",255 Fiserv Dr.,Brookfield,WI,53045,262-879-5000,...,"255 Fiserv Dr., Brookfield, WI 53045",FISV,"Fiserv, Inc.",5505,4.8,930.0,30.6,9743,2541.0,5.505
Host Hotels & Resorts,http://www.hosthotels.com,220,Financials,Real Estate,"Bethesda, MD",6903 Rockledge Dr.,Bethesda,MD,20817,240-744-1000,...,"6903 Rockledge Dr., Bethesda, MD 20817",HST,"Host Hotels & Resorts, Inc.",5488,1.9,762.0,36.6,11408,6994.0,5.488
Insight Enterprises,http://www.insight.com,5930,Wholesalers,Wholesalers: Electronics and Office Equipment,"Tempe, AZ",6820 S. Harl Ave.,Tempe,AZ,85283,480-333-3000,...,"6820 S. Harl Ave., Tempe, AZ 85283",NSIT,"Insight Enterprises, Inc.",5486,2.1,84.7,11.7,2219,713.0,5.486
Mattel,http://www.mattel.com,32000,Household Products,"Toys, Sporting Goods","El Segundo, CA",333 Continental Blvd.,El Segundo,CA,90245,310-252-2000,...,"333 Continental Blvd., El Segundo, CA 90245",MAT,"Mattel, Inc.",5457,-4.3,318.0,-13.9,6494,2408.0,5.457
AmTrust Financial Services,http://www.amtrustgroup.com,8000,Financials,Insurance: Property and Casualty (Stock),"New York, NY",59 Maiden Lane,New York,NY,10038,212-220-7120,...,"59 Maiden Lane, New York, NY 10038",AFSI,"AmTrust Financial Services, Inc.",5451,18.1,411.0,-8.8,22615,3269.0,5.451
Cincinnati Financial,http://www.cinfin.com,4754,Financials,Insurance: Property and Casualty (Stock),"Fairfield, OH",6200 S. Gilmore Rd.,Fairfield,OH,45014,513-870-2000,...,"6200 S. Gilmore Rd., Fairfield, OH 45014",CINF,Cincinnati Financial Corporation,5449,6.0,590.7,-6.8,20386,7060.0,5.449
Simon Property Group,http://www.simon.com,4050,Financials,Real Estate,"Indianapolis, IN",225 W. Washington St.,Indianapolis,IN,46204,317-636-1600,...,"225 W. Washington St., Indianapolis, IN 46204",SPG,"Simon Property Group, Inc.",5435,3.2,1838.9,0.6,31104,4310.0,5.435
Western Union,http://www.westernunion.com,10700,Business Services,Financial Data Services,"Englewood, CO",12500 E. Belford Ave.,Englewood,CO,80112,866-405-5012,...,"12500 E. Belford Ave., Englewood, CO 80112",WU,The Western Union Company,5423,-1.1,253.2,-69.8,9420,902.0,5.423
KeyCorp,http://www.key.com,15700,Financials,Commercial Banks,"Cleveland, OH",127 Public Sq.,Cleveland,OH,44114,216-689-3000,...,"127 Public Sq., Cleveland, OH 44114",KEY,KeyCorp,5422,19.4,791.0,-13.6,136453,15240.0,5.422
Delek US Holdings,http://www.delekus.com,1326,Energy,Petroleum Refining,"Brentwood, TN",7102 Commerce Way,Brentwood,TN,37027,615-771-6701,...,"7102 Commerce Way, Brentwood, TN 37027",DK,"Delek US Holdings, Inc.",5414,-6.0,-153.7,-892.3,2985,992.0,5.414
Booz Allen Hamilton Holding,http://www.boozallen.com,22600,Technology,Information Technology Services,"McLean, VA",8283 Greensboro Dr.,McLean,VA,22102,703-902-5000,...,"8283 Greensboro Dr., McLean, VA 22102",BAH,Booz Allen Hamilton Holding Corp.,5406,2.5,294.1,26.5,3010,409.0,5.406
Chemours,http://www.chemours.com,7000,Chemicals,Chemicals,"Wilmington, DE",1007 Market St.,Wilmington,DE,19899,302-773-1000,...,"1007 Market St., Wilmington, DE 19899",CC,The Chemours Company,5400,2.5,7.0,26.5,6060,100.0,5.400
Western & Southern Financial Group,http://www.westernsouthern.com,2178,Financials,"Insurance: Life, Health (Mutual)","Cincinnati, OH",400 Broadway,Cincinnati,OH,45202,513-629-1800,...,"400 Broadway, Cincinnati, OH 45202",CC,Western & Southern Mutual Holding Company,5398,0.8,241.2,-47.2,43831,5104.0,5.398
Celanese,http://www.celanese.com,7293,Chemicals,Chemicals,"Irving, TX",222 W. Las Colinas Blvd.,Irving,TX,75039,972-443-4000,...,"222 W. Las Colinas Blvd., Irving, TX 75039",CE,Celanese Corporation,5389,-5.0,900.0,196.1,8357,2588.0,5.389
Windstream Holdings,http://www.windstream.com,11870,Telecommunications,Telecommunications,"Little Rock, AR",4001 Rodney Parham Rd.,Little Rock,AR,72212,501-748-7000,...,"4001 Rodney Parham Rd., Little Rock, AR 72212",WIN,"Windstream Holdings, Inc.",5387,-6.6,-383.5,"-1,499.60",11770,170.0,5.387
Seaboard,http://www.seaboardcorp.com,11781,"Food, Beverages & Tobacco",Food Production,"Merriam, KS",9000 W. 67th St.,Merriam,KS,66202,913-676-8800,...,"9000 W. 67th St., Merriam, KS 66202",SEB,Seaboard Corporation,5379,-3.8,312.0,82.5,4755,3162.0,5.379
Essendant,http://www.essendant.com,6600,Wholesalers,Wholesalers: Electronics and Office Equipment,"Deerfield, IL",1 Parkway N. Blvd.,Deerfield,IL,60015,847-627-7000,...,"1 Parkway N. Blvd., Deerfield, IL 60015",ESND,Essendant Inc.,5369,0.1,63.9,82.5,2164,781.0,5.369
Apache,http://www.apachecorp.com,3727,Energy,"Mining, Crude-Oil Production","Houston, TX",2000 Post Oak Blvd.,Houston,TX,77056,713-296-6000,...,"2000 Post Oak Blvd., Houston, TX 77056",APA,Apache Corporation,5354,-19.5,-1405.0,82.5,22519,6238.0,5.354
Airgas,http://www.airgas.com,17000,Wholesalers,Wholesalers: Diversified,"Radnor, PA",259 N. Radnor-Chester Rd.,Radnor,PA,19087,610-687-5253,...,"259 N. Radnor-Chester Rd., Radnor, PA 19087",APA,"Airgas, Inc.",5314,0.2,337.5,-8.3,6135,2045.0,5.314
Kelly Services,http://www.kellyservices.com,7500,Business Services,Temporary Help,"Troy, MI",999 W. Big Beaver Rd.,Troy,MI,48084,248-362-4444,...,"999 W. Big Beaver Rd., Troy, MI 48084",KELYA,"Kelly Services, Inc.",5277,-4.4,120.8,124.5,2028,1012.0,5.277
Liberty Media,http://www.libertymedia.com,3626,Media,Entertainment,"Englewood, CO",12300 Liberty Blvd.,Englewood,CO,80112,720-875-5400,...,"12300 Liberty Blvd., Englewood, CO 80112",LSXMA,Liberty Media Corporation,5276,10.0,680.0,962.5,31377,11756.0,5.276
Rockwell Collins,http://www.rockwellcollins.com,19000,Aerospace & Defense,Aerospace and Defense,"Cedar Rapids, IA",400 Collins Rd. N.E.,Cedar Rapids,IA,52498,319-295-1000,...,"400 Collins Rd. N.E., Cedar Rapids, IA 52498",COL,"Rockwell Collins, Inc.",5259,-0.1,728.0,6.1,7707,2078.0,5.259
Robert Half International,http://www.roberthalf.com,16400,Business Services,Temporary Help,"Menlo Park, CA",2884 Sand Hill Rd.,Menlo Park,CA,94025,650-234-6000,...,"2884 Sand Hill Rd., Menlo Park, CA 94025",RHI,Robert Half International Inc.,5250,3.1,343.4,-4,1778,1087.0,5.250
CH2M Hill,http://www.ch2m.com,20000,Engineering & Construction,"Engineering, Construction","Englewood, CO",9191 S. Jamaica St.,Englewood,CO,80112,303-771-0900,...,"9191 S. Jamaica St., Englewood, CO 80112",RHI,"CH2M HILL Companies, Ltd.",5236,-2.3,15.0,-81.3,2671,547.0,5.236
Big Lots,http://www.biglots.com,23150,Retailing,Specialty Retailers: Other,"Columbus, OH",300 Phillipi Rd.,Columbus,OH,43228,614-278-6800,...,"300 Phillipi Rd., Columbus, OH 43228",BIG,"Big Lots, Inc.",5200,0.2,152.8,7,1608,651.0,5.200
Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,75063,972-409-1300,...,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698.0,5.197
Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,19044,215-938-8000,...,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229.0,5.170
Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,94089,408-349-3300,...,"701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0,5.169
Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,75201,214-812-4600,...,"1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.,5164,4.0,-214.3,5.2,15167,6597.0,5.164
ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,10006,212-297-0200,...,"1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0,5.145

### Using Boolean Indexing with pandas Objects



<p><img alt="Boolean arrays in pandas" src="https://s3.amazonaws.com/dq-content/291/boolean_array_pandas.svg"></p>



<p><img alt="example dataframe" src="https://s3.amazonaws.com/dq-content/291/eg_df.svg"></p>



<p><img alt="boolean series" src="https://s3.amazonaws.com/dq-content/291/bool_series.svg"></p>



<p><img alt="boolean indexing dataframe" src="https://s3.amazonaws.com/dq-content/291/boolean_indexing_df.svg"></p>



<p><img alt="boolean indexing series" src="https://s3.amazonaws.com/dq-content/291/boolean_indexing_s.svg"></p>

In [187]:
data = {'name': ['Jan', 'Jaka','Mihel','Sara'], 'num': [12,8,5,8]}

In [190]:
df = pd.DataFrame(data, columns = ['name','num'], index = ['w','x','y','z'])

In [191]:
df

    name  num
w    Jan   12
x   Jaka    8
y  Mihel    5
z   Sara    8

In [192]:
num_bool = df['num'] == 8

In [193]:
num_bool

w    False
x     True
y    False
z     True
Name: num, dtype: bool

In [194]:
df[num_bool]

   name  num
x  Jaka    8
z  Sara    8

In [196]:
result = df.loc[num_bool,'name']

In [197]:
result

x    Jaka
z    Sara
Name: name, dtype: object

In [198]:
#iz f500 izberemo 5 najpogostejših držav, v katerih prevladujejo podjetja z motor wehicles in part industrijo
f500.head()

,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,...,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity,rev_bil
Title,,,,,,,,,,,,,,,,,,,,,
Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,479-273-4000,...,"702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0,485.873
Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,402-346-1400,...,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0,223.604
Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,408-996-1010,...,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0,215.639
Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,972-444-1000,...,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0,205.004
McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,415-983-8300,...,"1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0,192.487

In [199]:
f500['Industry']

Title
Walmart                                                       General Merchandisers
Berkshire Hathaway                         Insurance: Property and Casualty (Stock)
Apple                                                   Computers, Office Equipment
Exxon Mobil                                                      Petroleum Refining
McKesson                                                   Wholesalers: Health Care
UnitedHealth Group                          Health Care: Insurance and Managed Care
CVS Health                                 Health Care: Pharmacy and Other Services
General Motors                                             Motor Vehicles and Parts
AT&T                                                             Telecommunications
Ford Motor                                                 Motor Vehicles and Parts
AmerisourceBergen                                          Wholesalers: Health Care
Amazon.com                                          Internet Services and Retailing
General Electric                                               Industrial Machinery
Verizon                                                          Telecommunications
Cardinal Health                                            Wholesalers: Health Care
Costco                                                        General Merchandisers
Walgreens Boots Alliance                                       Food and Drug Stores
Kroger                                                         Food and Drug Stores
Chevron                                                          Petroleum Refining
Fannie Mae                                                   Diversified Financials
J.P. Morgan Chase                                                  Commercial Banks
Express Scripts Holding                    Health Care: Pharmacy and Other Services
Home Depot                                               Specialty Retailers: Other
Boeing                                                        Aerospace and Defense
Wells Fargo                                                        Commercial Banks
Bank of America Corp.                                              Commercial Banks
Alphabet                                            Internet Services and Retailing
Microsoft                                                         Computer Software
Anthem                                      Health Care: Insurance and Managed Care
Citigroup                                                          Commercial Banks
                                                          ...
Fiserv                                                      Financial Data Services
Host Hotels & Resorts                                                   Real Estate
Insight Enterprises                   Wholesalers: Electronics and Office Equipment
Mattel                                                         Toys, Sporting Goods
AmTrust Financial Services                 Insurance: Property and Casualty (Stock)
Cincinnati Financial                       Insurance: Property and Casualty (Stock)
Simon Property Group                                                    Real Estate
Western Union                                               Financial Data Services
KeyCorp                                                            Commercial Banks
Delek US Holdings                                                Petroleum Refining
Booz Allen Hamilton Holding                         Information Technology Services
Chemours                                                                  Chemicals
Western & Southern Financial Group                 Insurance: Life, Health (Mutual)
Celanese                                                                  Chemicals
Windstream Holdings                                              Telecommunications
Seaboard                                                            Food Production
Essendant                             Wholesalers: Electronics and Office Equipment
Apache                                                 Mining, Crude-Oil Production
Airgas                                                     Wholesalers: Diversified
Kelly Services                                                       Temporary Help
Liberty Media                                                         Entertainment
Rockwell Collins                                              Aerospace and Defense
Robert Half International                                            Temporary Help
CH2M Hill                                                 Engineering, Construction
Big Lots                                                 Specialty Retailers: Other
Michaels Cos.                                            Specialty Retailers: Other
Toll Brothers                                                          Homebuilders
Yahoo                                               Internet Services and Retailing
Vistra Energy                                                                Energy
ABM Industries                                     Diversified Outsourcing Services
Name: Industry, Length: 500, dtype: object

In [203]:
motor_bool = f500['Industry'] == 'Motor Vehicles and Parts'

In [204]:
motor_bool.head(10)

Title
Walmart               False
Berkshire Hathaway    False
Apple                 False
Exxon Mobil           False
McKesson              False
UnitedHealth Group    False
CVS Health            False
General Motors         True
AT&T                  False
Ford Motor             True
Name: Industry, dtype: bool

In [205]:
motor_country = f500.loc[motor_bool,'Hqstate']

In [206]:
motor_country.head()

Title
General Motors            MI
Ford Motor                MI
Lear                      MI
Goodyear Tire & Rubber    OH
Autoliv                   MI
Name: Hqstate, dtype: object

In [208]:
top5 = motor_country.value_counts().head()

In [209]:
top5

MI    5
OH    2
CA    1
IL    1
Name: Hqstate, dtype: int64

### Using Boolean Arrays to Assign Values

In [211]:
#izberemo tiste vrstice, katerih vrednosti v Industry so enake Motor Vehicles and Parts
#namesto 'and' napišemo ampersand
motor_bool = f500['Industry'] == 'Motor Vehicles and Parts'
f500.loc[motor_bool,'Industry'] = 'Motor Vehicles & Parts'
f500['Industry'].head(10)

Title
Walmart                                  General Merchandisers
Berkshire Hathaway    Insurance: Property and Casualty (Stock)
Apple                              Computers, Office Equipment
Exxon Mobil                                 Petroleum Refining
McKesson                              Wholesalers: Health Care
UnitedHealth Group     Health Care: Insurance and Managed Care
CVS Health            Health Care: Pharmacy and Other Services
General Motors                          Motor Vehicles & Parts
AT&T                                        Telecommunications
Ford Motor                              Motor Vehicles & Parts
Name: Industry, dtype: object

In [212]:
f500.loc[f500['Industry'] == 'Motor Vehicles and Parts','Industry'] = 'Motor Vehicles & Parts'
f500['Industry'].head(10)

Title
Walmart                                  General Merchandisers
Berkshire Hathaway    Insurance: Property and Casualty (Stock)
Apple                              Computers, Office Equipment
Exxon Mobil                                 Petroleum Refining
McKesson                              Wholesalers: Health Care
UnitedHealth Group     Health Care: Insurance and Managed Care
CVS Health            Health Care: Pharmacy and Other Services
General Motors                          Motor Vehicles & Parts
AT&T                                        Telecommunications
Ford Motor                              Motor Vehicles & Parts
Name: Industry, dtype: object

### Deleting a Column from Your DataFrame

`DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')`

Drop specified labels from rows or columns.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html


Remove rows or columns by specifying label names and corresponding axis, or by specifying directly index or column names. When using a multi-index, labels on different levels can be removed by specifying the level.

In [226]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [40, 50, 9], [7, 2, 9], [40, 50, 9], [23, 35, 37]]), 
                  index= [2.5, 12.6, 4.8, 4.8, 2.5], 
                  columns=['A', 'B', 'C'])

In [227]:
df

       A   B   C
2.5    1   2   3
12.6  40  50   9
4.8    7   2   9
4.8   40  50   9
2.5   23  35  37

In [228]:
#izbrisali bi stolpec A tako, da se zgodi na mestu (brez definiranja nove spremenljivke)

In [229]:
df.drop('A', axis = 1, inplace = True)

In [230]:
df

       B   C
2.5    2   3
12.6  50   9
4.8    2   9
4.8   50   9
2.5   35  37

In [231]:
#radi bi izbrisali vse duplikate
df_1 = df.drop_duplicates()

In [232]:
df_1

       B   C
2.5    2   3
12.6  50   9
4.8    2   9
2.5   35  37

In [233]:
#izbrišemo vrstice z indexom 2.5
df_1.drop([2.5])

       B  C
12.6  50  9
4.8    2  9

### Removing a Row from Your DataFrame

`DataFrame.drop_duplicates(subset=None, keep='first', inplace=False)`

Return DataFrame with duplicate rows removed, optionally only considering certain columns

<table class="docutils field-list" frame="void" rules="none">
<colgroup><col class="field-name">
<col class="field-body">
</colgroup><tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><p class="first"><strong>subset</strong> : column label or sequence of labels, optional</p>
<blockquote>
<div><p>Only consider certain columns for identifying duplicates, by
default use all of the columns</p>
</div></blockquote>
<p><strong>keep</strong> : {‘first’, ‘last’, False}, default ‘first’</p>
<blockquote>
<div><ul class="simple">
<li><code class="docutils literal notranslate"><span class="pre">first</span></code> : Drop duplicates except for the first occurrence.</li>
<li><code class="docutils literal notranslate"><span class="pre">last</span></code> : Drop duplicates except for the last occurrence.</li>
<li>False : Drop all duplicates.</li>
</ul>
</div></blockquote>
<p><strong>inplace</strong> : boolean, default False</p>
<blockquote>
<div><p>Whether to drop duplicates in place or to return a copy</p>
</div></blockquote>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>deduplicated</strong> <span class="classifier-delimiter">:</span> <span class="classifier">DataFrame</span></dt>
<dd></dd>
</dl>
</td>
</tr>
</tbody>
</table>

### Combining Datasets: Concat and Append

In [44]:
def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)

In [45]:
# example DataFrame
make_df('ABCD', range(3))

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2

#### Concatenation of NumPy Arrays

In [46]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]

#### Simple Concatenation with pd.concat


`pandas.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=None, copy=True)`

[Dokumentacija](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html)

In [47]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])

In [48]:
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])

In [49]:
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])

#### Duplicate indices

In [50]:
x = make_df('AB', [0, 1])
y = make_df('AB', [2, 3])

##### Catching the repeats as an error

##### Ignoring the index

##### Adding MultiIndex keys

[Več o Hierarchical Indexing](https://jakevdp.github.io/PythonDataScienceHandbook/03.05-hierarchical-indexing.html)

#### Concatenation with joins

In [51]:
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])

#### The append() method

### Aggregation and Grouping

#### Planets dataset

#### GroupBy: Split, Apply, Combine

##### Split, apply, combine

<img src="https://jakevdp.github.io/PythonDataScienceHandbook/figures/03.08-split-apply-combine.png" alt="">

In [52]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])

#### The GroupBy object

#### Column indexing

#### Dispatch methods

#### Aggregate, filter, transform, apply

In [53]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])

##### Aggregation

##### Filtering

##### Transformation

##### The apply() method

### Working with Time Series

#### Dates and Times in Python


##### Native Python dates and times

##### Typed arrays of times: NumPy's datetime64

[Dokumentacija](https://docs.scipy.org/doc/numpy/reference/arrays.datetime.html)

<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<table>
<thead><tr>
<th>Code</th>
<th>Meaning</th>
<th>Time span (relative)</th>
<th>Time span (absolute)</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Y</code></td>
<td>Year</td>
<td>± 9.2e18 years</td>
<td>[9.2e18 BC, 9.2e18 AD]</td>
</tr>
<tr>
<td><code>M</code></td>
<td>Month</td>
<td>± 7.6e17 years</td>
<td>[7.6e17 BC, 7.6e17 AD]</td>
</tr>
<tr>
<td><code>W</code></td>
<td>Week</td>
<td>± 1.7e17 years</td>
<td>[1.7e17 BC, 1.7e17 AD]</td>
</tr>
<tr>
<td><code>D</code></td>
<td>Day</td>
<td>± 2.5e16 years</td>
<td>[2.5e16 BC, 2.5e16 AD]</td>
</tr>
<tr>
<td><code>h</code></td>
<td>Hour</td>
<td>± 1.0e15 years</td>
<td>[1.0e15 BC, 1.0e15 AD]</td>
</tr>
<tr>
<td><code>m</code></td>
<td>Minute</td>
<td>± 1.7e13 years</td>
<td>[1.7e13 BC, 1.7e13 AD]</td>
</tr>
<tr>
<td><code>s</code></td>
<td>Second</td>
<td>± 2.9e12 years</td>
<td>[ 2.9e9 BC, 2.9e9 AD]</td>
</tr>
<tr>
<td><code>ms</code></td>
<td>Millisecond</td>
<td>± 2.9e9 years</td>
<td>[ 2.9e6 BC, 2.9e6 AD]</td>
</tr>
<tr>
<td><code>us</code></td>
<td>Microsecond</td>
<td>± 2.9e6 years</td>
<td>[290301 BC, 294241 AD]</td>
</tr>
<tr>
<td><code>ns</code></td>
<td>Nanosecond</td>
<td>± 292 years</td>
<td>[ 1678 AD, 2262 AD]</td>
</tr>
<tr>
<td><code>ps</code></td>
<td>Picosecond</td>
<td>± 106 days</td>
<td>[ 1969 AD, 1970 AD]</td>
</tr>
<tr>
<td><code>fs</code></td>
<td>Femtosecond</td>
<td>± 2.6 hours</td>
<td>[ 1969 AD, 1970 AD]</td>
</tr>
<tr>
<td><code>as</code></td>
<td>Attosecond</td>
<td>± 9.2 seconds</td>
<td>[ 1969 AD, 1970 AD]</td>
</tr>
</tbody>
</table>

</div>
</div>

#### Dates and times in pandas: best of both worlds

#### Pandas Time Series: Indexing by Time

#### Pandas Time Series Data Structures

In [54]:
dates = pd.to_datetime([datetime(2015, 7, 3), '4th of July, 2015',
                       '2015-Jul-6', '07-07-2015', '20150708'])

NameError: name 'datetime' is not defined

#### Example

### Understanding SettingwithCopyWarning in pandas

#### What is SettingWithCopyWarning?



<img class="full-width" src="https://www.dataquest.io/wp-content/uploads/2019/01/view-vs-copy.png" alt="view-vs-copy">



<img class="full-width" src="https://www.dataquest.io/wp-content/uploads/2019/01/modifying.png" alt="modifying">

## Več o 

[Pandas on PyVideo](https://pyvideo.org/)